{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Gestión Facultad{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">            
            <li><a href="{{path('F_agregar')}}">Agregar</a></li>
            <li><a href="{{ path('F_listar')}}">Modificar</a></li>
            <li><a href="{{path('Faclutad_inicio')}}">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}
{% block maincol %}
<div class="listacontenido">
    <p>Facultades</p>
    <div class="listatabla">
        
        <table>            
            <tr>
                <th>Código</th>
                <th>Nombre de Facultad</th>
            </tr>     
        {% for facultads in facultad %}    
            <tr>
                <td>{{ facultads.FacCodigo}}</td>
                <td>{{ facultads.FacNombre}}</td>
            </tr>
        {% endfor %}    
        </table>    
    </div>         
</div>             
{% endblock %}
