{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Agregar Carrera{% endblock %}
{% block navigation %}        
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('C_inicio') }}">Volver</a></li>
        </ul>
    </nav>
{% endblock %}
{% block maincol %}        
        <form action="{{ path('C_agregar') }}" method="post" {{ form_enctype(form) }} class="contact_form">
            <H2>Agregar Carrera</H2>
            {{form_errors(form)}}
            <div class="filae1">
                <div class="Celle1">
                    {{form_label(form.Carr_Codigo, 'Codigo')}}
                    {{form_errors(form.Carr_Codigo)}}  
                    {{form_widget(form.Carr_Codigo)}}
                </div>
                <div class="Celle2">
                    {{form_label(form.Carr_Nombre, 'Nombre de Carrera')}}
                    {{form_errors(form.Carr_Nombre)}}
                    {{form_widget(form.Carr_Nombre)}}
                </div>
            </div>
            <div class="filae2">
                <div class="Celle1">
                    {{form_label(form.Facultad, 'Facultad')}}
                    {{form_errors(form.Facultad)}}
                    {{form_widget(form.Facultad)}}
                    <div class="msjerror1"><span id="msjtu"></span></div>
                </div>   
                <div class="Celle2">                
                    {{form_label(form.CarreraMaterias, 'Materias')}}
                    {{form_errors(form.CarreraMaterias)}}
                    {{form_widget(form.CarreraMaterias)}}
                    <div class="msjerror1"><span id="msjmc"></span></div>    
                </div>
            </div>
{{form_rest(form)}}
            <div class="filaeEsp7">
                <div class="Celle2">
                    <button type="submit">Agregar</button>
                </div>
            </div>
        </form>
{% endblock %}
{% block javascripts %} 
<script>
$(document).ready(function(){    
    $( "form" ).submit(function( event ) {

        tipoUs = $("#Sistema_facultadbundle_carreratype_Facultad").val();
        if(tipoUs == 0){
            $( "#msjtu" ).text( "Debe seleccionar una facultad.!!" ).show().fadeOut( 7000);
            event.preventDefault();  
        }
        tipomc = $("#Sistema_facultadbundle_carreratype_CarreraMaterias").val();       
        if(tipomc == 0){
            $( "#msjmc" ).text( "Debe seleccionar por lo menos 1 Materia.!!" ).show().fadeOut( 7000);
            event.preventDefault();  
        }        
        
    });           
});
    
</script>
{% endblock%}