{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Carrera{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">            
            <li><a href="{{path('C_agregar')}}">Agregar</a></li>
            <li><a href="{{ path('C_listar')}}">Modificar</a></li>
           {# <li><a href="{{ path('C_asignar')}}">Asignar Materia</a></li>#}
            <li><a href="{{path('Faclutad_inicio')}}">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}
{% block maincol %}
<div class="listacontenido">
    <p>Carreras</p>
    <div class="listatabla">
  
       
        <table>           
                <tr>
                    <th>Código</th>
                    <th>Nombre de Carrera</th>
                </tr>     
            {% for carreras in carrera %}    
                <tr>
                    <td>{{ carreras.CarrCodigo}}</td>
                    <td>{{ carreras.CarrNombre}}</td>
                </tr>
            {% endfor %}    
        </table>
        </div>         
</div>  
{% endblock %}
