{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Gestión Materia{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">            
            <li><a href="{{path('M_agregar')}}">Agregar</a></li>
            <li><a href="{{ path('M_listar')}}">Modificar</a></li>
            <li><a href="{{ path('Faclutad_inicio') }}">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}
{% block maincol %}
<div class="listacontenido">
    <p>Materia</p>
    <div class="listatabla"> 
         <table>                 
            <tr>
                <th>Código</th>
                <th>Nombre de Materia</th>            
            </tr>   
        {% for materias in datos %}        
            <tr>
                <td>{{ materias.Mat_Codigo}}</td>
                <td>{{ materias.Mat_Nombre}}</td>                        
            </tr>
        {% endfor %}            
        </table>
    </div>
</div>
       <div  class="contentab">
        <div class="paginacion">
             <ul>
                {%for i in 1.. totalPaginas %}
                    {%if loop.first %}
                        <li {%if page==1%} class="disabled" {%endif%}>
                            <a href="{{path('M_inicio')}}?page={{page-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    {%endif%}
                        
                        <li {% if page==loop.index %}  class="active" {%endif%}>
                            <a href="{{path('M_inicio')}}?page={{loop.index}}">{{loop.index}}</a>
                        </li>
                        
                    {%if loop.last %}                                                   
                        <li {%if page==totalPaginas%} class="disabled" {%endif%}>
                            <a href="{{path('M_inicio')}}?page={{page+1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    {%endif%}
                {%endfor%}
             </ul>
        </div>            
    </div>        
{% endblock %}

   
    {#<div class="contpag">
             <ul class="pagination">
                {%for i in 1.. totalPaginas %}
                    {%if loop.first %}
                        <li {%if page==1%} class="disabled" {%endif%}>
                            <a href="{{path('M_inicio')}}?page={{page-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    {%endif%}
                        <li {% if page==loop.index %}  class="active" {%endif%}>
                            <a href="{{path('M_inicio')}}?page={{loop.index}}">{{loop.index}}</a>
                        </li>
                    {%if loop.last %}                                                   
                        <li {%if page==totalPaginas%} {%endif%}>
                            <a href="{{path('M_inicio')}}?page={{page+1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    {%endif%}
                {%endfor%}
             </ul>
        </div>#}      