<form action="{{ path('usuario_modificarprofesor',{'usn': datosusuario.username,'codop': codop}) }}" method="post" {{ form_enctype(edit_form) }} class="form_pop">
        <h2>Modificar datos</h2>
        {{form_errors(edit_form)}}       
        {%if codop == 'ayn'%}
            <div class="fil">
                {{form_label(edit_form.apellido, 'Apellido:')}}
                {{form_errors(edit_form.apellido)}}  
                {{form_widget(edit_form.apellido)}}
                <div class="msjerror1"><span id="msjc"></span></div>
            </div>   
            <div class="fil">
                {{form_label(edit_form.nombre, 'Nombre:')}}
                {{form_errors(edit_form.nombre)}}  
                {{form_widget(edit_form.nombre)}}
                <div class="msjerror1"><span id="msjc1"></span></div>
            </div>        
        {%elseif codop == 'cel'%}
            <div class="fil">
                {{form_label(edit_form.nrocel, 'Número de Tel./Cel.:')}}
                {{form_errors(edit_form.nrocel)}}  
                {{form_widget(edit_form.nrocel)}}
                <div class="msjerror1"><span id="msjc"></span></div>
            </div>        
        {%elseif codop == 'pas'%}
            <div class="fil">
                {{form_errors(edit_form.password)}}  
                {{form_widget(edit_form.password)}} 
                <div class="msjerror1"><span id="msjc"></span></div>    
            </div>        
        {%endif%}        
        {{form_rest(edit_form)}}
        <h2> <p><button type="submit">Aceptar</button></p></h2>       
</form>

<script>
var opcion = '{{codop}}';    
$(document).ready(function(){    
    $( "form" ).submit(function( event ) {
        if(opcion == "ayn" ) {
            nombre = $("#sistema_usuariosbundle_profesorayntype_nombre").val();
            apellido = $("#sistema_usuariosbundle_profesorayntype_apellido").val();
            if(nombre == " " ) {
                $( "#msjc" ).text( "El campo nombre no debe estar en blanco.!!" ).show().fadeOut( 7000);
                event.preventDefault();                
            }    
            if(apellido == " " ) {
                $( "#msjc1" ).text( "El campo apellido no debe estar en blanco.!!" ).show().fadeOut( 7000);
                event.preventDefault();                
            } 
        }else if(opcion == "pas" ){
            pass1 = $("#sistema_usuariosbundle_profesorpasstype_password_first").val();
            pass2 = $("#sistema_usuariosbundle_profesorpasstype_password_second").val();
            if(pass1 != pass2) {
                $( "#msjc" ).text( "Los campos contraseña deben coincidir.!!" ).show().fadeOut( 7000);
                event.preventDefault();                
            } 
        }else if(opcion == "cel" ){
            cel = $("#sistema_usuariosbundle_profesorceltype_nrocel").val();
            if(cel == " " ) {
                $( "#msjc" ).text( "El campo no debe estar en blanco.!!" ).show().fadeOut( 7000);
                event.preventDefault();                
            }
        }
    });
});
    
</script>

