{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Agregar Empleado{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">
            {#<li><a href="{{path ('gestion_listarempleado')}}">Modificar Empleado</a></li>#}
            <li><a href="{{ path('Gestion_inicioemp')}}">Volver</a></li>
        </ul>
    </nav>
{% endblock %}
{% block saludo %}
<p>Conectado como "{{app.user.tipou}}":</p>
<p>
{{app.user.username}}
</p>
{#<a href="#">Ver mi perfil</a>#}
{% endblock %} 
{% block maincol %}

    <div id= "formalta" style="border-top: thin solid silver; padding-bottom: 2px;">
        <form class="contact_form">
            <h2>Registrar Empleado</h2>
            <div class="fila3esp">     
                <select id="tipousuarios">
                        <option value="0">Seleccionar Sucursal</option>
                    {% for suc in sucursal %}
                        <option value="{{suc.id}}-{{suc.sucnomb}}">{{suc.sucnomb}}</option>
                    {% endfor %}
                </select>  
                </div>
            <h1>Debe seleccionar una sucursal para continuar con el alta de empleados.</h1> 
        </form>
       
    </div>

{% endblock %}

{% block javascripts %}
 
 <script>
    valor = 0;
    valor1 = 0;
    
    $(document).ready(function(){

        $('#tipousuarios').click(function(evento){
            
            evento.preventDefault();
            contenido = 0;
            contenido = $(this).val();
            valor = $(this).val().split("-");
            valor1 = valor[0];
            var url = '{{ path("gestion_cargarform", {'suc': 'suc'}) }}'; 
            url = url.replace("suc", valor1);
            if(valor == 0){
                return false;
                
            }
            //alert(url);
            $('#formalta').load(url);


        });                
    });  

 </script>
{% endblock%}

