<table>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Paginas</th>
            <th>Precio</th>
            <th>Acción</th>
        </tr>
        {% for apunte in apuntes %}
        <tr>
            <td>{{ apunte.Id}}</td>
            <td>{{ apunte.nombre}}</td>
            <td>{{ apunte.nropag}}</td>
            <td>{{ apunte.precio}}</td>
            <td><a class="selecc" value="{{ apunte.Id}}" href ="#">Agregar</a></td>
        </tr>
       {% endfor %}
</table>                   
<script>
$(document).ready(function(){
    $('.selecc').on('click', function(e){
        e.preventDefault();
        if (link == "") {
                link  = $(this).attr('value');                    
            }else{
                link  = link + "-" + $(this).attr('value');                    
        };
        var urlap = '{{ path("ped_mostrarapualu",{'id': 'cod'}) }}';
        urlap = urlap.replace("cod",link);                    
        $('.listatabla').load(urlap.trim());
    }); 

});
</script>