{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Gestión de Tablas{% endblock %}
{% block id 'portada' %}
{% block navigation %}
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('F_inicio')}}">Facultad</a></li>
            <li><a href="{{ path('C_inicio')}}">Carrera</a></li>
            <li><a href="{{ path('M_inicio')}}">Materia</a></li>
           {% if app.user.tipou == 'Empleado'%}
                <li><a href="{{ path('pagina_emp')}}">Menu Principal</a></li>
            {% endif %}
            {% if app.user.tipou == 'Administrador'%}
                <li><a href="{{ path('pagina_adm')}}">Menu Principal</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
{% block maincol %}

{% endblock %}