{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Modificar tipos de usuarios{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">
            <li><a href="{{ path ('rol_new')}}">Agregar</a></li>    
            <li><a href="{{ path ('rol')}}">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}
{% block id 'portada' %}
{% block article -%}
        <h1>Tipos de Usuarios</h1>
        <table>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Tipo Usuario</th>
            </tr>
       
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.tipus }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('rol_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
          
        </table>  
 
{% endblock %}